.team-title-prediction
{
    color: white
}

.opponent-title-prediction
{
    color: white;
    margin-left: 10px;
}

.rad-btn
{
    color: white;
}

.text-in-prediction
{
    color: white;
}

.space-between-infos
{
    margin-top: 30px;
}

.bayes-css
{
    margin-left:50px
}